<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <model name="aruco">
        <static>true</static>
        <visual name='visual'>
            <geometry>
                <include>
                    <uri>
                        https://fuel.gazebosim.org/1.0/AndrejOrsula/models/aruco_default
                    </uri>
                </include>
            </geometry>
        </visual>
    </model>
<!-- https://app.gazebosim.org/AndrejOrsula/fuel/models/aruco_default -->
</robot>