<?xml version="1.0" ?>
<model name="Bean_Can_Aruco">
    <static>true</static>
    <version>1.0</version>
    <sdf version="1.0">CanAruco.sdf</sdf>

    <author>
        <name>
            Adam en ID2
        </name>
    </author>

    <description>A bean can with aruco code 47 on it</description>
</model>